*{
    font-family: "Segoe UI";
    font-size:22px;
}
body{
    margin:0!important;
    padding: 0!important;
    background: #99eafd!important;
}
.menu{
    position: absolute;
    top:0;
    left:0;
    width:17% ;
    background: #99eafd;
    background-image: url("../images/simpleBg.jpg");
    background-size: 260px;
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 0 15px #000000;
    border-left:none;
    border-radius: 30px;
    border-top-left-radius: 0;

}


.menu a{
    text-decoration: none;
    font-size: 1px;
    padding: 0 ;
    margin:  0;
}

.menu img{
    margin: 0 7.5%;
    width: 75% ;
    height:auto;
}


.entry_panel{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background: rgba(238, 238, 255, 0.54);
    min-height:100vh;
}
.entry_fields{
    background: #99eafd;
    overflow: auto;
    margin: 10% 25%;
    padding:2%;
}

.content{
    width: 100%;

    margin:0;
    background: #99eafd;
}
.content >div{
    padding: 0 8% 0 27%!important;
}

#logo{
    width:300px;
    animation-duration: 2s;
    animation-name: slidein;
}

.ulli{
    width:80%;
}














@keyframes slidein {
    0%{
        margin-left: 100%;
        width:100px;
    }

    100% {
        margin-left: 0%;
        width:300px;
    }
}


/* Pulse Grow */
.pulse {
    transform: perspective(1px) translateZ(0);
}
.pulse:hover, .pulse:focus, .pulse:active {
    animation-name: hvr-pulse-grow;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes hvr-pulse-grow {
    to {
        transform: scale(1.2);
        transition: scale 1s;
    }
}

.leftmove{
    transform: translateX(0);
}
.leftmove:hover,.leftmove:focus{

    animation-name: move-left;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes move-left {
    to {
        transform: translateX(-28px);
        transition: transform 1s;
    }
}

.rightmove{
    transform: translateX(0);
}
.rightmove:hover,.rightmove:focus{

    animation-name: move-right;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes move-right {
    to {
        transform: translateX(20px);
        transition: transform 1s;
    }
}